{% extends 'base.html.twig' %}
{% block body %}
	<!-- page d'information concernant le projet -->
	<body>
		<head>
			<meta charset="utf-8">
			<link rel="stylesheet" href="/index.css" media="screen" type="text/css"/>
		</head>
		<div id="description">
			<div>
				<h3>A propos de nous
				</h3>
				<p>Nous sommes un groupe de 4 étudiantes à l'université Paris Descartes
					notre but est de développer un site web de gestion de wishlists.
					Le projet dure quatre mois et sera aussi disponible sur smartphone
				</p>
			</div>
			<div class="grid-container-propos">
				<div>
					<h1>Nelly</h1>
					<img src="/nelly.png" alt="..."></p>
			</div>
			<div>
				<h1>Chirel</h1>
				<img src="/chirel.png" alt="..."></p>
		</div>
		<div>
			<h1>Laura</h1>
			<img src="/laura.png" alt="..."></p>
	</body>
</div>
<div>
	<h1>Nouhaila</h1>
	<img src="/nouhaila.png" alt="..."></p></div></div></body>{% endblock %}
