<head>
  <meta charset="utf-8" content="text/html">
  <meta name="viewport" content="width-device-width; initial-scale=1.0; maximum-scale=1.0;">
</head>
<body style="background-image:url('t/public/titre2.png');">
  <table>
    <tbody>
      <tr>
        <td>Bonjour {{pseudo}}.</td>
      </tr>
      <tr>
        <td>Nous avons reçu une demande de réinitialisation de votre mot de passe. Pour ce faire cliquez sur le lien ci-dessous.</td>
      </tr>
    </tbody>
  </table>

  <table>
    <tbody>
      <tr align="center">
        <td align="center" height="30" align="center">
          <a href='{{url}}' style="color:orange; text-align:center;">Réinitialiser mon mot de passe</a>
          <br>
        </td>
      </tr>
    </tbody>
  </table>
  &nbsp
 <table>
   <tbody>
     <tr>
       <td>L'équipe we wish vous souhaite une bonne journée !</td>
      </tr>
    </tbody>
  </table>
  &nbsp
  <table>
    <tbody>
      <tr>
        <td><a href="http://127.0.0.1:8001" style="color: #000000; text-decoration: none;"><h1 class ="titre">We Wish</h1><a></td>
        <td rowspan="2"><img src="{{logo}}" alt="logo" style="width: 110px;"></td>
      </tr>
      <tr>
        <td><a href="mailto:wishlist.wewish@gmail.com">wishlist.wewish@gmail.com</a></td>
      </tr>
    </tbody>
  </table>
</body>
